<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="my.paidchain.spectraterminaldemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.spectratech.mpos.peddll" />
    </queries>
    <application
        android:name="my.paidchain.spectraterminaldemo.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpectraTerminal"
        tools:targetApi="31">
        <activity
            android:name="my.paidchain.spectraterminaldemo.TTActivity"
            android:exported="false" />
        <activity
            android:name="my.paidchain.spectraterminaldemo.JSActivity"
            android:exported="false" />

        <uses-library
            android:name="scfmanagerlibrary"
            android:required="true" />

        <activity
            android:name="my.paidchain.spectraterminaldemo.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SpectraTerminal.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.spectratech.serialcontrollers.usbcomm.SerialService" />
    </application>

</manifest>